@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body {
  background: rgb(251, 221, 165);
}

.enter {
  position: absolute;
  z-index: 1999;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);

}

#enterspoof {
  width: 0;
  transform: rotateX(0deg);
  animation: bugg 1.5s ease-in-out infinite;

}

@keyframes bugg {
  from {
    width: 101vw;
    transform: rotateX(360deg);
  }

}
header{
  /* position: sticky;
  top: 0; */
  z-index: 1000;
}

nav {
  display: flex;
  padding: 5px 30px;
  padding-right: 70px;
  align-items: center;
  justify-content: space-between;
  min-width: 100vw;
  background: linear-gradient(120deg, rgb(255, 180, 40), rgb(249, 193, 26));
  height: 50px;
  color: white;
}

.logo {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  gap: 5px;
  font-size: xx-large;
  color: rgb(36, 9, 9);
  position: relative;
  top: 5px;
}

.foodGif {
  position: relative;
  top: 3px;
}

.navList ul {
  display: flex;
  list-style: none;
  gap: 1.75rem;
  font-size: larger;
}

.navList ul a {
  color: rgb(90, 88, 88);
  text-decoration: none;
  transition: 0.4s;
  letter-spacing: 1px;
}

ul a li {
  padding: 9px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  transition: all 0.5s;
  background: transparent;
  border-radius: 8px;
}

ul a li:hover {
  background: #d19304;
  color: white;
}



.searchFood {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 7px;
}

#cuisineSearch {
  background: none;
  outline: 0;
  border: none;
  background: 0;
  padding: 5px 10px;
  width: 35vw;
  font-weight: 500;

}

::placeholder {
  font-weight: 300;
}

#searchBtn {
  padding: 5px;
  outline: 0;
  border: none;
  background: 0;
  background-color: rgb(251, 128, 41);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#searchBtn:hover {
  cursor: pointer;
}

#searchBtn:active {
  opacity: 0.5;
}

/* herosection */
.hero {
  width: 97vw;
  min-height: 40vh;
  margin: 10px auto;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  overflow: hidden;

}

.bgImgBox {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70vw;
  background-image: url("img/imag6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.specialDishContainer {
  margin: 50px 60px;

}

.specialDishContainer h2 {
  margin: 10px 0;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 29px;
}

.cuisineHead {
  margin-left: 60px;
  font-family: "Kanit", sans-serif;
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 2px;
}

.Cuisines {
  margin: 30px auto;
}

.cuisineCards {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.card {
  width: 88vw;
  height: 300px;
  display: flex;
  justify-content: center;
  border-radius: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 12px rgb(97, 96, 96);

}

.cardBg {
  display: inline-flex;
  align-items: center;
  width: 88vw;
  height: 300px;
  border-radius: 200px;
  position: absolute;
  background-image: url("img/imag2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.textsec {
  width: 100%;
  height: 300px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
}

.moreData {
  width: 100%;
  height: 300px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s;
  display: none;
  
}

.dataBox {
  opacity: 1;
  padding: 20px 100px;
  margin-top: 10px;
  line-height: 350%;
  height: fit-content;
  width: fit-content;
}

.dataBox a {
  text-decoration: none;
  color: rgb(97, 1, 192);
}

.dataBox a li {
  list-style: none;
  font-weight: 600;
  word-spacing: 5px;
  font-size: 35px;
}

.cuisineData {
  opacity: 1;
  padding: 20px;
  /* padding-right: 38vw; */

}

.nameofCuisine {
  font-size: 33px;
  font-family: "Pacifico", cursive;
  font-weight: 500;
}

.cuisineInfo {
  margin-top: 10px;
  line-height: 250%;
}

.cuisineInfo li {
  font-size: large;
  font-family: "Radio Canada Big", sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-shadow: 0px 2px 8px gray;
}

.dott {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.imgsec {
  display: inline-block;
  min-height: 300px;
  width: 40vw;
  z-index: 2;
  transition: 0.5s;

}

.imgcuisine {
  height: 300px;
  width: 40vw;
  border-radius: 200px;
}


#About {
  margin: 20px 60px;
}

#About h1 {
  margin: 10px 0;
  font-family: "Kanit", sans-serif;
  font-size: 33px;
  font-weight: 600;
}

#About p {
  word-spacing: 4px;
}

#About h2 {
  margin: 10px 0;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 29px;
}

.freshFood {
  margin-top: 100px;
}

.specialDishes {
  display: flex;
  width: 95vw;
  margin: 20px 0;
  justify-content: space-around;
  align-items: center;
}

.dish {
  display: flex;
  flex-direction: column;
  max-width: 15vw;
}

.DishimgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, rgb(248, 188, 77), rgb(218, 142, 0));
  border-radius: 50%;
  overflow: hidden;
}

.DishImg {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  z-index: 1;
  transition: transform 1s;
}

.desc {
  width: 15vw;
  height: 15vw;
  position: absolute;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  text-align: center;
  overflow: hidden;
  font-family: cursive;
  text-wrap: wrap;
}

.DishimgBox {
  cursor: grabbing;
}

.specialDishes h4 {
  margin-top: 5px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


.chefContainer {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.chef {
  position: relative;
  text-align: center;
}

.chefimgBox {
  background: rgba(0, 0, 0, 0.811);
  border-radius: 50%;
  box-shadow: 0 5px 5px gold;
}

.chefimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid gold;
  transition: transform 2s;
  animation: rotater 6s linear infinite alternate;
  position: relative;
  bottom: 5px;
}

.chefimg:hover {
  cursor: grabbing;
}

.aboutChef p {
  z-index: 10;
  position: absolute;
  max-width: 15vw;
  background: aliceblue;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 12px;
  top: -85.5%;
  left: -40px;
  border: 4px solid rgb(82, 1, 125);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  opacity: 0;
  box-shadow: 0 4px 12px rgb(69, 69, 69);
  transition: 0.5s;
  animation: pulse 1s linear infinite normal;
  display: none;

}

.bolding {
  font-weight: 600;
}

.chefimgBox::after {
  z-index: 11;
  position: absolute;
  width: 16px;
  height: 16px;
  content: '';
  background-color: aliceblue;
  top: 1%;
  left: 35%;
  border: 4px solid rgb(82, 1, 125);
  border-left: 0;
  border-top: 0;
  opacity: 0;
  transition: 0.5s;
  animation: pulseAfter 1s linear infinite normal;
  display: none;

}

.chef.active .aboutChef p,
.chef.active .chefimgBox::after {
  display: block;
  opacity: 1;
}

@keyframes rotater {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(-20px);
  }

}

@keyframes pulseAfter {
  0% {
    transform: translateY(-20px) rotate(45deg);
  }

  50% {
    transform: translateY(-25px) rotate(45deg);
  }

  100% {
    transform: translateY(-20px) rotate(45deg);
  }

}

.chefSpeciality .nameChef {
  margin: 20px 0 0 0;
  font-weight: 500;
}

.chefSpeciality p {
  margin: 4px 0;
  width: 20vw;
}

.altCard {
  flex-direction: row-reverse;
}

#contactUs {
  margin: 30px auto;
  position: relative;
}

.contactHead {
  font-weight: 600;
  font-size: 33px;
  margin: 15px 60px;
}

.contactWindow {
  display: flex;
  justify-content: center;
}

.contactBox {
  height: 90vh;
  width: 94vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 60px;
  position: relative;
   border-radius: 90px;
  overflow: hidden;
}

.contactbgImg {
  position: absolute;
  height: 90vh;
  width: 94vw;
  left: 69%;
  top: 5% ;
  transform: scale(2.35,1.09);
  z-index: -1;
}
.takecoffee{
z-index: 1999;
position: absolute;
right: -100px;
top: -100px;
transform: scale(0.5);

}
.takecoffee img{
  animation: blinker 0.5s linear infinite ;

}
@keyframes blinker {
0%{
  transform:rotate(16deg);
}
50%{
  transform:rotate(8deg);
}
100%{
  transform:rotate(22deg);
}
}

.form-box{
display: flex;
flex-direction: column;
gap: 20px;
width: 950px;
padding: 20px;
border-radius: 10px;
background: #ffffff94;

}

.inpDiv{
display: flex;
flex-direction: column;
background-color:rgb(218, 217, 217);
padding: 8px 15px;
border: 5px solid transparent;
border-radius: 8px;
gap: 4px;
background-color: rgba(128, 128, 128, 0.29);backdrop-filter: blur(2px);

}
.inpDiv label{
font-size: small;
font-weight: 500;
color: rgb(0, 0, 0);
}
.inpForm{
outline: 0;
border:0;
background: 0;
font-weight: 400;
font-size: medium;
}
.languageSelector{
display: inline-flex;
justify-content: space-between;
align-items: center;
}
.languageSelector .langLabel{
font-weight: 500;
font-size: large;
}
.selectLang{
color: whitesmoke;
outline: 0;
border:0;
background: 0;
background-color: rgb(0, 0, 0);
width: 150px;
padding: 5px 10px;
border-radius: 8px;
cursor: pointer;
font-weight: 600;
}
.selectLang option{
font-size: 18px;
letter-spacing: 2px;
padding: 5px 10px;
}
.opt:hover{
background-color: green;
}


.queryField{
border:5px solid transparent;
border-radius: 8px;
background-color: rgba(128, 128, 128, 0.29);backdrop-filter: blur(2px);
padding: 5px 10px;
}

.queryField label{
font-weight: 500;
font-size: large;
}
#textareaA{
font-weight: 400;
font-size: medium;
outline: 0;
border: 0;
background: 0;

}
#textline{
margin:5px 0;
border: 1px solid rgb(63, 63, 63);

}

.SubmitBtn{
border: 0;
background: 0;
padding: 8px 16px;
font-size: large;
font-weight: 500;
background-color: black;
color: whitesmoke;
border-radius: 10px;
cursor: pointer;
}
.SubmitBtn:hover{
background: rgb(63, 63, 63);}


.infoforContact{
display: flex;
position: absolute;
bottom: 1px;
color: white;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 550;
text-shadow: 4px 4px 14px black;
background-color: rgba(0, 0, 0, 0.5);
padding: 5px;
width: 90vw;
text-align: center;
word-spacing: 8px;
}
marquee{
color: white;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.BacktoTop{
  position: sticky;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: orangered;
 padding: 10px 15px;
  width: fit-content;
  border-radius: 50%;
  bottom: 50px;
  float: right;
  z-index: 2000;
  display: none;
  margin: 0 20px;
  box-shadow: 4px 4px 4px black;
}
.BacktoTop:hover{
  cursor: pointer;
  background-color: rgb(239, 177, 154);

}

#backtoToBtn{
  width: 30px;
}

























.divider {
  margin-top: 5px;
  height: 20px;
  width: 100vw;
  background-color: white;
  color: white;
  /* border: 1px solid white; */
  ;
}